/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Proxima Nova Regular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Our style*/

.wrapper{
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.center{
	max-width: 1140px;
	width: 90%;
	margin: 0 auto;
}
header .top_header{
	background-color: #2d3e50;
	height: 60px;
}
header .flex_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
header .flex_header a{
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
}
header .flex_header a:hover{
	color: #ffc000;
}
header .flex_header i{
	color: #ffc000;
	margin-right: 15px;
	font-size: 20px;
	position: relative;
	top: 4px;
}
header .bottom_header{
	height: 90px;
	display: flex;
	align-items: center;

}
header .bottom_header a{
	font-family: 'Proxima Nova Bold';
	text-decoration: none;
	font-size: 21px;
	display: flex;
	align-items: center;
	color: #252c30;
	
}
header .bottom_header span{
	color: #ffc000;
}
header .bottom_header .menu{
	display: flex;
}
header .bottom_header .menu li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #252c30;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 30px;
}
header .bottom_header .menu li a:hover{
	color: #ffc000;
}
header .bottom_header .search i{
	font-size: 22px;
	color: #252c30;
}
header .bottom_header .search i:hover{
	color: #ffc000;
	cursor: pointer;

}
header .bottom_header nav{
	margin-left: 15%;
}
.container2{
	background-image: url('./repace.png');
	height: calc(100vh - 150px);
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 805px;
}
.container2 h1{
	text-align: center;
	color: #ffffff;
	font-size: 72px;
	position: relative;
	top: 20%;
	font-family: 'Proxima Nova Bold';
}
.container2 h1 span{
	color: #ffc000;
}

.container2 p{
	color: #ffffff;
	text-align: center;
	position: relative;
	top: 25%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.container2 .buttons {
	clear: both;
	text-align: center;
	margin-top: 30vh;
}

.container2 .buttons a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	width: 300px;
	font-size: 18px;
	font-family: 'Proxima Nova Bold';
	padding: 20px 50px 20px 50px;
	background-color: #ffc000;
	border-radius: 40px;
}
.container2 .buttons a:hover{
	color: #ffc000;
	background-color: #ffffff;
	cursor: pointer;
}
.container3 .cards{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.container3 .cards .item{
	height: 380px;
	width: 23%;
	background-color: #2d3e50;
	border: 2px solid #2d3e50;
}
.container3 .cards .item p{
	color: #ffffff;
	text-align: center;
}
.container3 .cards .circle{
	width: 80px;
    height: 80px;
    border-radius: 40px;
	background: #ffffff;
	margin: 65px auto 45px auto;
	text-align: center;
}

.container3 .cards .circle i{
	position: relative;
	margin-top: 20%;
	font-size: 45px;
	color: #ffc000;
}
.container3 .cards .item h4{
	font-family: 'Proxima Nova Bold';
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	margin-top: 10%;
}


.container3 .cards .item:hover{ 
	cursor: pointer;
	background-color: #ffffff;
	border: 2px solid #ffc000;
}
.container3 .cards .item:hover .circle{
	background: #ffc000;
}
.container3 .cards .item:hover i{
	color: #ffffff;
}
.container3 .cards .item:hover p{
	color: black;
}
.container3 .cards .item:hover h4{
	color: black;
}

.container3 .center .text_center{
	color: #000000;
	font-size: 16px;
	text-align: center;
	padding-top: 40px;
	font-family: 'Open Sans', sans-serif;
}

.container3 .text_p{
	padding-top: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.container3 h2{
	color: black;
	font-family: 'Proxima Nova Bold';
	font-size: 36px;
	text-align: center;
	margin-top: 15px;
}

.container3 h2 span{
	color: #ffc000;
}

.container4 {
	height: 245px;
	width: 100%;
	background-image: url('./images/replace\ image1.png');
	margin-top: 8%;
	
}

.container4 .s4{
	max-width: 1140px;
	width: 90%;
	margin: 0 auto;
}
.container4 .s4 .info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.container4 .s4 .info .s1{
	font-family: 'Proxima Nova Bold';
	color: #ffffff;
	font-size: 26px;
	margin-top: 60px;
	align-items: baseline;
}
.container4 .s4 .info .c2{
	font-size: 46px;
	margin-top: 40px;
	font-family: 'Proxima Nova Bold';
	color: #ffffff;
	align-items: baseline;
	margin-left: 15%;
}

.container5 .center .top_desrc{
	color: #000000;
	font-size: 16px;
	text-align: center;
	padding-top: 40px;
	font-family: 'Open Sans', sans-serif;
}

.container5 .center .descr{
	padding-top: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.container5 .center h2{
	color: black;
	font-family: 'Proxima Nova Bold';
	font-size: 36px;
	text-align: center;
	margin-top: 15px;
}

.container5 .center h2 span{
	color: #ffc000;
}

.container5 .celection{
	display: grid;
	max-width: 1600px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	margin-top: 50px;
}
.container5 .celection .icon{
	display: flex;
	justify-content: center;

}

.container5 .celection .left{
	margin-left: 30%;
}
.container5 .celection .right{
	margin-right: 30%;
}
.container5 .celection .icon img{
	width: 50px;
	height: 50px;
	margin-right: 40px;
	
}

.container5 .center .icon p{
	font-size: 16px;

}
.container5 .center .icon span{
	font-size: 30px;
}
.container7 ul{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.container7 .center .top_desrc{
	color: #000000;
	font-size: 16px;
	text-align: center;
	padding-top: 40px;
	font-family: 'Open Sans', sans-serif;
}

.container7 .center .descr{
	padding-top: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.container7 .center h2{
	color: black;
	font-family: 'Proxima Nova Bold';
	font-size: 36px;
	text-align: center;
	margin-top: 15px;
}

.container7 .center h2 span{
	color: #ffc000;
}


.container7 ul li{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #252c30;
	text-transform: uppercase;
	padding: 0 17px;
}

.container7 ul li:hover{
	color: #ffc000;
	cursor: pointer;
}
.container7 .grid_block{
	display: grid;
	grid-template-columns: 1fr 1fr 25% 25%;
	grid-template-rows: 1fr;

}

.container7 .grid_block .item{
	position: relative;
}

.container7 .grid_block .item img{
	max-width: 100%;
	object-fit: cover;
	height: 100%;
	z-index: 10;
	
}
.container7 .grid_block .item .fon{
	background-color: goldenrod;
    z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    position: absolute;
    opacity: 0;
}

.container7 .grid_block .item .fon i{
	color: #ffffff;
	font-size: 30px;
	position: absolute;
	top: 45%;
	left: 45%;
}
.container7 .grid_block .item:hover .fon{
	z-index: 100;
	opacity: 0.5;
}

.container8 .item{
	background-color: #2d3e50;
	max-width: 350px;
	text-align: center;
	min-width: 290px;
	padding-bottom: 50px;
	padding-top: 3%;
	border: 2px solid #2d3e50;
}

.container8 .center .top_desrc{
	color: #000000;
	font-size: 16px;
	text-align: center;
	padding-top: 40px;
	font-family: 'Open Sans', sans-serif;
}

.container8 .center .descr{
	padding-top: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 80px;
}
.container8 .center h2{
	color: black;
	font-family: 'Proxima Nova Bold';
	font-size: 36px;
	text-align: center;
	margin-top: 15px;
}

.container8 .center h2 span{
	color: #ffc000;
}

.container8 .social a{
	background-color: #ffffff;
	color: #2d3e50;
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	margin: 20px 10px;
}
.container8 .social .logo{
	font-size: 30px;
	color: #ffffff;
	margin: 30px auto;
	text-transform: uppercase;
}

.container8 .social .logo_p{
	color: #ffc000;
	font-size: 20px;
}
.container8 .item:hover{
	border: 2px solid #ffc000;
	background-color: #ffffff;
}
.container8 .item:hover .logo{
	color: #000000;
}
.container8 .item:hover .social a{
	background-color: #2d3e50;
	color: #ffffff;
}

.container9 .center .top_desrc{
	color: #000000;
	font-size: 16px;
	text-align: center;
	padding-top: 40px;
	font-family: 'Open Sans', sans-serif;
}

.container9 .center .descr{
	padding-top: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 80px;
}
.container9 .center h2{
	color: black;
	font-family: 'Proxima Nova Bold';
	font-size: 36px;
	text-align: center;
	margin-top: 15px;
}

.container9 .center h2 span{
	color: #ffc000;
}

.container9 .item{
	background-color: #ffc000;
	max-width: 350px;
	text-align: left;
	min-width: 290px;
	padding-bottom: 50px;
	padding-top: 3%;
	position: relative;
	height: 550px;
}
.container9 .ADD{
	max-width: 1140px;
	margin: 0 auto;
}
.container9 .row .item img{
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	top: 0;
}
.container9 .item .social{
	margin: 0 15px;
}
.container9 .item .social .logo{
	font-size: 25px;
	color: #ffffff;
	margin: 85% auto 10% auto;
}

.container9 .item .social .logo_p{
	color: #ffffff;
	font-size: 20px;
}
.container9 .item .social .logo_d{
	font-size: 15px;
	color: #000000;
	float: left;
}
.container9 .item .social .logo_r{
	float: right;
	font-size: 15px;
	color: #000000;
}
@media(max-width: 1350px){
	.container5 .celection{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		max-width: 800px;
		margin: 50px auto 0 auto;
		justify-items: center;
		}
		.container5 .celection .left{
			margin-left: 0;
		}
		.container5 .celection .right{
			margin-right: 0;
		}	
}
@media(max-width: 1200px){
	.container8 .item{
		max-width: 300px;
	}
}

@media(max-width: 1024px){
	header .buttom_header .menu{
		display: none;
	}
}
@media(max-width: 768px){
	.container7 .grid_block{
		grid-template-columns: 1fr 50%;
		grid-template-rows: auto;
	}
	.container7 ul{
		flex-direction: column;
		align-items: center;
	}
	.container7 ul li{
		padding: 10px 0;
	}
	.container8 .item{
		max-width: 100%;
	}
}
@media(max-width: 425px){
	.container7 .grid_block{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	.container7 .grid_block img{
		width: 100%;
	}
}